#fotolia_overlay_wrapper_wrapper,
#fotolia_overlay_wrapper,
#fotolia_overlay,
#fotolia_image_panel,
#fotolia_title,
#fotolia_image_title,
#fotolia_close_button,
.fotolia_delete_button,
.fotolia_pagelinks_button,
#fotolia_loader_img,
#fotolia_overlay_header,
#fotolia_overlay_ui,
.fotolia_overlay_ui_col,
.fotolia_overlay_ui_row_first,
.fotolia_overlay_ui_row_last,
#fotolia_input,
#fotolia_results_table,
#fotolia_image_table,
#fotolia_results_wrapper,
#fotolia_image_wrapper,
#fotolia_results_element,
#fotolia_image_element,
#fotolia_results,
#fotolia_results td,
#fotolia_results tr,
#fotolia_results td .title,
.fotolia_overlay_button,
.fotolia_overlay_button_cancel,
.fotolia_overlay_button_spn{
	background: none repeat scroll 0 0 transparent;
	border: 0px solid #DDDDDD;
	border-collapse: collapse;
	color: #000000;
	cursor: auto;
	font: 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	width: auto;
}
#fotolia_overlay_wrapper_wrapper{
	display: ;
	visibility: inherit;
}
#fotolia_overlay_wrapper{
	position: fixed;
	visibility: visible;
	display: block;
	z-index: 10010;
}
#fotolia_overlay, #fotolia_image_panel{
	-moz-border-radius: 5px;
	/*background-color: #FFFFFF;*/
	background: url("sprites.png") repeat-x scroll 0 -1950px #D3D3D3;
	border: 1px solid #DDDDDD;
	padding: 5px;
	position: relative;
	z-index: 1;
}
#fotolia_title, #fotolia_image_title{
	background: none repeat scroll 0 0 transparent;
	border: 0px;
	border-collapse: collapse;
	color: #000000;
	font: 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
	height: auto;
	margin: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	width: auto;
	-moz-user-select: none;
	border-bottom: 1px solid #EEEEEE;
	cursor: move;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 3px 8px;
	position: relative;
}
#fotolia_image_title{
	text-align: center;
	cursor: auto;
}
#fotolia_close_button, #fotolia_maximize_button, #fotolia_minimize_button{
	-moz-user-select: none;
	background-image: url("sprites.png");
	background-position: 0 -1022px;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 20px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 20px;
	right: 10px;
}
#fotolia_maximize_button, #fotolia_minimize_button{
	background-image: url("arrow_out.png");
	background-position: 0;
	height: 16px;
	width: 16px;
	margin-top:4px;
}
#fotolia_minimize_button{
	background-image: url("arrow_in.png");
	display: none;
}
.fotolia_delete_button{
	-moz-user-select: none;
	background-image: url("delete.png");
	cursor: pointer;
	position: relative;
	height: 16px;
	width: 16px;
}
.fotolia_pagelinks_button{
	-moz-user-select: none;
	background-image: url("page_link.png");
	display: block;
	cursor: pointer;
	position: relative;
	height: 16px;
	width: 16px;
}
#fotolia_loader_img{
	-moz-user-select: none;
	background-image: url("ajax-loader.gif");
	position: relative;
	height: 16px;
	width: 16px;
}
#fotolia_overlay_header{
	height: 26px;
	text-align: right;
	margin-top:4px;
}
#fotolia_overlay_ui{
	display: inline-table;
	
	width: 100%;
	height: 100%;
}
.fotolia_overlay_ui_col{
	width:100%;
}
.fotolia_overlay_ui_row_first,.fotolia_overlay_ui_row_last{
	/*vertical-align: middle;*/
}
#fotolia_input{
	width:100%;
	height:22px;
	border:1px solid #EEEEEE;
	background-color: #FFFFFF;
	border-collapse: separate;
	cursor: default;
	padding: 3px 0;
	text-align: center;
	color:#9E9E9E;
}
#fotolia_overlay_subheader{
	background-color: #CCFF99;
	margin-top:4px;
	overflow: auto;
	overflow-x:hidden;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
#fotolia_results_table,#fotolia_image_table{
	margin-top:4px;
	overflow: auto;
	overflow-x:hidden;
	padding: 5px;
}
#fotolia_results_wrapper,#fotolia_image_wrapper{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	margin-top: 10px;
	padding-top: 5px;
	background-color: #EBEBEB;
	overflow: auto;
	padding: 5px;
}
#fotolia_results_element, #fotolia_image_element{
	overflow: auto;
	height: 300px;
	width: 610px;
	border-style: solid solid none;
}
#fotolia_image_element{
	height: 359px;
	width: 150px;
}
#fotolia_results_element span{
	font-size: 8pt;
	color: #333333;
}
#fotolia_results{
	border:0px;
	width: 100%;
	margin: auto;
}
#fotolia_results td, #fotolia_results tr {
	/*border:1px solid #EEEEEE;*/
	border:0px;
	overflow:auto;
}
#fotolia_results td .imageresult {
	border:4px solid transparent;
}
#fotolia_results td .imageresult:hover {
	border:4px solid #FECC45;
}
#fotolia_results td .imageresult-selected {
	border:4px solid #00DD00;
}
#fotolia_results td .title {
	color:blue;
	font-size:100%;
	text-decoration: underline;
}
.fotolia_results_result{
	height:96px;
	width:100%;
	-moz-border-radius:5px;
	background: url("sprites.png") repeat-x scroll 0 -132px #FDFDFD;
	margin-bottom:5px;
	cursor:pointer;
}
.fotolia_results_result:hover{
	background: url("sprites.png") repeat-x scroll 0 -401px #FDFDFD;
}
.fotolia_overlay_button{
	height:100%;
	width:100%;
	-moz-user-select: none;
	background: url("sprites.png") repeat-x scroll 0 -1143px transparent;
	
	margin-top:2px;
	border-collapse: separate;
	cursor: pointer;
	padding: 5px 0px 4px;
	text-align: center;
}
.fotolia_overlay_button:hover,
.fotolia_overlay_button:focus,
.fotolia_overlay_button:active{
	background-position: 0 -1179px;
}
.fotolia_overlay_button_cancel{
	background-position: 0 -1104px;
}
.fotolia_overlay_button_more{
	background-position: 0 -1068px;
}
.fotolia_overlay_button_right{
	-moz-border-radius: 0px 5px 5px 0px;
}
.fotolia_overlay_button_left{
	-moz-border-radius: 5px 0px 0px 5px;
}
.fotolia_overlay_button_single{
	-moz-border-radius: 5px;
}
.fotolia_overlay_button_spn{
	background: url("sprites.png") no-repeat scroll right -1219px transparent;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	color: #222222;
	cursor: pointer;
	display: inline-block;
	min-width: 60px;
	padding: 2px 10px;
}
.fotolia_overlay_button_spn_noicon{
	background: transparent;
}
.fotolia_overlay_button_spn_cancel{
	background: url("sprites.png") no-repeat scroll right -1245px transparent;
}
